{% extends 'base.html.twig' %}

{% block body %}
<div class="col-md-12 dyn-word">
	<div class="content">
        <div class="static">
            <p>RythmPad</p>
            <ul class="def">
                <li class="word">Ajoutez</li>
                <li class="word">Ecouter</li>
                <li class="word">Partager</li>
            </ul>
        </div>
    </div>
</div>

{% for tabalbum in tabalbums|reverse %}
    <div class="col-md-12">
        <div class="col-md-2"></div>
        <div class="col-md-8 prl-div album-list-inde">
            <h2 class="added-by">Album Ajouté par : <a class="view-user" href="{{ path('user_profil', { 'username': tabalbum['friend'] }) }}">{{ tabalbum['friend'] }}</a></h2>
            <hr>
            <div class="col-md-3">
                <img class="folder" src="{{ asset('uploads/folders/' ~ tabalbum['folder']) }}" />
            </div>
            <div class="col-md-5">
                <p>Titre : {{ tabalbum['titre'] }}</p><br>
                <p>Artiste : {{ tabalbum['artiste'] }}</p><br>
                <p>Genre : {{ tabalbum['genre'] }}</p><br>
                <p>Date : {{ tabalbum['date']|date('Y') }}</p>
            </div>
            <div class="col-md-4 div-btn">
                <a class="btn btn-acces" href="{{ path('page_album', { 'titre': tabalbum['titre'] }) }}">Ecouter</a>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
{% endfor %}

{% endblock %} 