{% extends 'base.html.twig' %}

{% block body %}
<div class="col-md-12">
    <div class="col-md-4 result-indd">
        <div class="col-md-12 mus-empt">
            <img class="folder" src="{{ asset('uploads/folders/' ~ test.folder) }}" />
        </div>
        <div class="col-md-12 mus-empt alb-desc">
            <p >Album : {{ test.titre }}</p><br>
            <p >Artiste : {{ test.artiste }}</p><br>
            <p >Genre : {{ test.genre }}</p><br>
            <p >Date de Sortie : {{ test.date|date('Y') }}
        </div>
        <div class="col-md-12 mus-empt alb-desc">
        	<a class="btn" href="{{ path('new_musique', { 'idalbum': test.id }) }}">
        		Ajoutez des pistes
        	</a>
        </div>
        <div class="col-md-12 mus-empt alb-desc">
            Album Ajouté par : <a class="view-user-alb" href="{{ path('user_profil', { 'username': userad.username }) }}">{{ userad.username }}</a>
        </div>
    </div>

    <div class="col-md-7 file-list result-indd">
        <div class="main">
            <div class="player">
                <div class="pl"></div>
                <div class="title"></div>
                <div class="artist"></div>
                <div class="cover"></div>
                <div class="controls">
                    <div class="play"></div>
                    <div class="pause"></div>
                    <div class="rew"></div>
                    <div class="fwd"></div>
                </div>
                <div class="volume"></div>
                <div class="tracker"></div>
            </div>
            <ul class="playlist hiddenn">
                {% for musique in musiques %}
                    <li audiourl="{{ musique.musique }}" cover="{{ test.folder }}" artist="{{ test.artiste }}">{{ musique.numpiste }} - {{ musique.titre }}</li>
                {% endfor %}
            </ul>
        </div>
	</div>
</div>


{% endblock %} 