{% extends 'base.html.twig' %}

{% block body %}
<div class="col-md-12">
    <div class="col-md-4 result-indd">
        <div class="col-md-12 mus-empt">
            <img class="folder" src="{{ asset('uploads/folders/' ~ test.folder) }}" />
        </div>
        <div class="col-md-12 mus-empt alb-desc">
            <p >Album : {{ test.titre }}</p><br>
            <p >Artiste : {{ test.artiste }}</p><br>
            <p >Genre : {{ test.genre }}</p><br>
            <p >Date de Sortie : {{ test.date|date('Y') }}
        </div>
        <div class="col-md-12 mus-empt alb-desc">
        	<a class="btn" href="{{ path('new_musique', { 'idalbum': test.id }) }}">
        		Ajoutez des pistes
        	</a>
        </div>
        <div class="col-md-12 mus-empt alb-desc">
            Album Ajouté par : <a class="view-user-alb" href="{{ path('user_profil', { 'username': userad.username }) }}">{{ userad.username }}</a>
        </div>
    </div>

    <div class="col-md-7 file-list result-indd">
            <div class="col-md-12">
                <div class="col-md-2">
                    <h3>Piste n°</h3>
                </div>
                <div class="col-md-5">
                    <h3>Titre</h3>
                </div>
                <div class="col-md-5">
                    
                </div>
            </div>
            <div class="col-md-12">
                <hr>
            </div>
 		{% for musique in musiques %}
 			<div class="col-md-12">
                <div class="col-md-2">
                    <p>{{ musique.numpiste }}</p>
                </div>
    			<div class="col-md-5">
    				<p>{{ musique.titre }}</p>
    			</div>
    			<div class="col-md-5">
    				<audio src="{{ asset('uploads/musiques/' ~ musique.musique) }}" controls></audio>
    			</div>
    		</div>
    		<hr class="lop">
    	{% endfor %}
	</div>
</div>


{% endblock %} 